.modal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  
}
.modal-container{
    width: 40%;
    padding: 20px;
    background-color: #fff;
}
@media (max-width: 468px) {
    .modal-container{
        width: 70%;
    }
}
@media (max-width: 768px) {
    .modal-container{
        width: 70%;
    }
}
.modal-body{
    margin: 5px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.modal-footer{
    float: right;
}
.modal-footer button{
    padding: 10px;
    width: 100px;
    margin: 0 5px;
    cursor: pointer;
}
.modal-footer .success-btn{
    color: white;
    background-color: rgb(2, 189, 158);
    border: none;
}
.modal-footer .cancel-btn{
    color: white;
    background-color: red;
    border: none;
}