.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
@media (max-width: 468px) {
  .products-container{
    padding: 1rem;
    justify-content: flex-start;
  }
}
.add-btn {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
   width: 80%;
  margin-right: 2px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(5, 175, 158);
}
.card-button{
  display: flex;
}
.view-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 20%;
   border: none;
  border-radius: 5px;
  background-color: #ffc005;
  color: #fff;
}
.card {
  width: 13rem;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
 /* border: 1px solid #ccc; */
 border-radius: 10px;
 padding: 0!important;
 margin: 5px;
 background-color: #fff;
 box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
}
/* @media (max-width: 768px) {
  .card{
    width: rem;
  }
} */
.card-img{
  position: relative;
    width: 100%;
    height: 50%;
  /* background-color: rgb(255, 94, 0); */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.card-tag{
  position: absolute;
  z-index: 1;
  background-color: #ffc005;
  padding: 2px 5px;
  bottom: 0;
  font-size: 10px;
}
.card img {

 height: 100%;
 width: 100%;
 transition: all ease-in-out .4s;
  
}
.card img:hover {

 transform: scale(1.4);
}
.card-content {
  margin: 2px 0;
  text-align: center;
}
.card-content p{
  font-size: 15px;
}


